.game-token {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;

  font-size: 1.5rem;
  border-radius: 50%;
  user-select: none;
  color: var(--dark-element-bg);
  background-color: var(--dark-element-bg);
}
.game-token.active {
  color: var(--text-color-light);
  background-color: var(--accent-strong);
}
.game-token.matched {
  color: var(--text-color-light);
  background-color: var(--light-element-bg);
}
